<!-- register form  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="register-page">
                <div class="logo-container">
                    <a href="/">Come<span>On</span>Iran</a>
                </div>
                <div class="form">
                    <form class="login-form" (submit)="registerUser()">
                        <h4>Account Register</h4>
                        
                        <span><p *ngIf="Fill">*{{errorContent}}</p></span>

                        <input type="text" (keyup)="onKey($event,'firstname')" placeholder="first name"/>
                        <input type="text" (keyup)="onKey($event,'lastname')" placeholder="last name"/>

                        <span><p *ngIf="Email">*{{errorContent}}</p></span>

                        <input type="email" (keyup)="onKey($event,'email')" placeholder="email"/>
                        <input type="text" (keyup)="onKey($event,'country')" placeholder="country"/>

                        <span><p *ngIf="Pass">*{{errorContent}}</p></span>

                        <input type="password" (keyup)="onKey($event,'password')" placeholder="password"/>
                        <input type="password" id="age" (keyup)="onKey($event,'confpassword')" placeholder="confirm password">

                        <span><p *ngIf="Select">*{{errorContent}}</p></span>

                        <select class="form-control region" name="region" (click)="onKey($event,'region')" [(ngModel)]="corporationObj1" form="register-form">
                            <option [ngValue]="region" selected disabled hidden>region</option>
                            <option value="0">central-america</option>
                            <option value="1">north-america</option>
                            <option value="2">south-america</option>
                            <option value="3">africa</option>
                            <option value="4">asia</option>
                            <option value="5">middle-east</option>
                            <option value="6">europe</option>
                            <option value="7">ocenia</option>
                        </select>
                        <select class="form-control gender" name="gender" (click)="onKey($event,'gender')" [(ngModel)]="corporationObj2" form="register-form">
                            <option [ngValue]="gender" selected disabled hidden>gender</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>

                        <input type="submit" class="button" value="create">
                        <p class="message">Already registered? <a href="login">Sign In</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>