<section class="top-search-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg search-box-container">
                <div class="search-box-head">
                    <h4>Choose your next destination!</h4>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="search-form">
                            <form class="form-inline">
                                <input class="form-control" type="search" placeholder="Where would you like to go?" aria-label="Search">
                                <button class="btn btn-primary" type="submit">Discover</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="city-info-box">
    <div class="container-fluid">
        <div class="row">
            <div class="city-container">
                <div class="city-image">
                    <span><img src="../../assets/back-ground.jpg" alt=""></span>
                </div>
                <div class="city-describe">
                    <h2>Iran</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo totam enim rerum, nostrum voluptas iusto possimus natus reiciendis quam eum provident eius sed tempore quasi libero autem doloremque voluptatem vel.</p>
                    <div class="row city-name">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a [routerLink]="['/destinations', 'tehran']">Tehran</a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="">Yazd</a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="">Esfahan</a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="">Mashahd</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>