<!-- login form  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-page" *ngIf="isLogin">
                <div class="form">
                  <form class="login-form">
                    <h4>Account Login</h4>
                    <input type="text" (keyup)="onKeyLogin($event,'username')" name="'username'" placeholder="username"/>
                    <input type="password" (keyup)="onKeyLogin($event,'password')" placeholder="password"/>
                    <p class="forgot">Forgot <a href="/" onclick="return false;" (click)="urlChange('forgot')">pasword?</a></p>
                    <a href="/" onclick="return false;"><button (click)="loginUser()">login</button></a>
                    <p class="message">Not registered? <a href="/" onclick="return false;" (click)="urlChange('register')">Create an account</a></p>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- register form  -->

<div class="container-fluid" *ngIf="isRegister">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="register-page">
                <div class="form">
                    <form class="login-form">
                        <h4>Account Register</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" (keyup)="onKeyRegister($event,'firstname')" placeholder="first name"/>
                                <input type="email" (keyup)="onKeyRegister($event,'email')" placeholder="email"/>
                                <input type="text" (keyup)="onKeyRegister($event,'country')" placeholder="country"/>
                                <select (keyup)="onKeyRegister($event,'region')" class="form-control gender" name="gender" form="register-form">
                                    <option value="" selected disabled hidden>region</option>
                                    <option value="central-america">central-america</option>
                                    <option value="north-america">north-america</option>
                                    <option value="south-america">south-america</option>
                                    <option value="africa">africa</option>
                                    <option value="asia">asia</option>
                                    <option value="middle-east">middle-east</option>
                                    <option value="europe">europe</option>
                                    <option value="ocenia">ocenia</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" (keyup)="onKeyRegister($event,'last name')" placeholder="last name"/>
                                <input type="password" (keyup)="onKeyRegister($event,'password')" placeholder="password"/>
                                <input type="text" (keyup)="onKeyRegister($event,'confirmPassword')" id="age" placeholder="confirm password">
                                <select class="form-control gender" (keyup)="onKeyRegister($event,'gender')" name="gender" form="register-form">
                                    <option value="" selected disabled hidden>gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                        <button>create</button>
                        <p class="message">Already registered? <a href="login" (click)="urlChange('register')">Sign In</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Forgot password -->

<div class="container-fluid" *ngIf="isReset">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-page">
                <div class="form">
                  <form class="login-form">
                    <h4>Reset Password</h4>
                    <input type="email" placeholder="email"/>
                    <button>Send</button>
                    <a href="/" onclick="return false;" class="closeReset" (click)="urlChange('reset')">Return</a>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- changing password  -->

<div class="container-fluid" *ngIf="isConfirm">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-page">
                <div class="form">
                  <form class="login-form">
                    <h4>Change Password</h4>
                    <input type="text" placeholder="new password"/>
                    <input type="text" placeholder="confirm password"/>
                    <button>Send</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>