<section class="filter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <div class="row hotel-box">
                    <h6>FIND HOTELS...</h6>
                    <div class="col-lg hotel-content">
                        <h4>Find your favorite hotels</h4>
                        <p>Either find a hotel below, or send a general inquiry by clicking 'Start finding my hotel.'</p>
                        <div class="design-trip-form">
                            <form class="form-inline" action="">
                                <h5>City</h5>
                                <input type="text" placeholder="Enter your city">
                                <h5>Date</h5>
                                <select class="form-control date" name="date" form="form-inline">
                                    <option value="" selected="" disabled="" style="display:none;">Departure date</option>
                                    <option value="2020-04-01">April 2020</option>
                                    <option value="2020-05-01">May 2020</option>
                                    <option value="2020-06-01">June 2020</option>
                                    <option value="2020-07-01">July 2020</option>
                                    <option value="2020-08-01">August 2020</option>
                                    <option value="2020-09-01">September 2020</option>
                                    <option value="2020-10-01">October 2020</option>
                                    <option value="2020-11-01">November 2020</option>
                                    <option value="2020-12-01">December 2020</option>
                                    <option value="2021-01-01">January 2021</option>
                                    <option value="2021-02-01">February 2021</option>
                                    <option value="2021-03-01">March 2021</option>
                                    <option value="2021-04-01">April 2021</option>
                                    <option value="2021-05-01">May 2021</option>
                                    <option value="2021-06-01">June 2021</option>
                                    <option value="2021-07-01">July 2021</option>
                                    <option value="2021-08-01">August 2021</option>
                                    <option value="2021-09-01">September 2021</option>
                                    <option value="2021-10-01">October 2021</option>
                                    <option value="2021-11-01">November 2021</option>
                                    <option value="2021-12-01">December 2021</option>
                                    <option value="2022-01-01">January 2022</option>
                                </select>
                                <button type="submit">Start finding my hotel</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hotels">
    <div class="container">
        <div class="title">
            <div class="head">
                <h1>Popular Hotels</h1>
            </div>
            <div class="desc">
                <p>You can find some of our popular hotels down here</p>
            </div>
        </div>
        <div class="list">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 content" *ngFor="let item of topHotels">
                    <div class="image">
                        <a [routerLink] = "['/hotels', item.name]">
                            <img src="http://comeoniran.com/media/{{item.image[0]}}" alt="">
                            <img *ngIf="!item.image[0]" src="../../assets/city.jpg" alt="">
                        </a>
                        <div class="price">
                            <a href="">${{item.price}}</a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>{{item.name}}</h4>
                        <p>{{item.description}}</p>
                        <span class="rank">
                            <i class="fas fa-star" *ngFor="let item of [].constructor(item.rank)"></i>
                            <i class="far fa-star" *ngFor="let item of [].constructor(5 - item.rank)"></i>
                        </span>
                        <span class="date">
                            <i class="far fa-clock"></i>
                            <a>{{item.created_at}} Days</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="header" *ngIf="showOthers">
                <h1>Other hotels</h1>
            </div>
            <div class="row" *ngIf="showOthers">
                <div class="col-lg-3 col-md-6 col-sm-6 content" *ngFor="let item of otherHotels">
                    <div class="image">
                        <a [routerLink] = "['/hotels', item.name]">
                            <img src="http://comeoniran.com/media/{{item.image[0]}}" alt="">
                            <img *ngIf="!item.image[0]" src="../../assets/city.jpg" alt="">
                        </a>
                        <div class="price">
                            <a href="">${{item.price}}</a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>{{item.name}}</h4>
                        <p>{{item.description}}</p>
                        <span class="rank">
                            <i class="fas fa-star" *ngFor="let item of [].constructor(item.rank)"></i>
                            <i class="far fa-star" *ngFor="let item of [].constructor(5 - item.rank)"></i>
                        </span>
                        <span class="date">
                            <i class="far fa-clock"></i>
                            <a>{{item.created_at}} Days</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="more-hotels">
                    <button (click)="showOther()">{{lessMore}} Hotels</button>
                </div>
            </div>
        </div>
    </div>
</section>