<section class="filter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 main_box">
        <div class="main_title">
          <h5>FIND TOURS...</h5>
        </div>
        <div class="filter_box">
          <div class="sub_title">
            <h4>Find your favorite tours</h4>
            <p>Either find a tour below, or send a general inquiry by clicking 'Start finding my tour.'</p>
          </div>
          <div class="search_input">
            <form>
              <div class="row">
                <div class="col-lg col-md col-sm-12 col-12">
                  <div class="city_name">
                  <label>City</label>
                  <input type="text">
                  </div>
                </div>
                <div class="col-lg col-md col-sm-12 col-12">
                  <div class="date">
                    <label>Date</label>
                    <select name="date" form="form-inline">
                      <option value="" selected="" disabled="" style="display:none;">Departure date</option>
                      <option value="2020-04-01">April 2020</option>
                      <option value="2020-05-01">May 2020</option>
                      <option value="2020-06-01">June 2020</option>
                      <option value="2020-07-01">July 2020</option>
                      <option value="2020-08-01">August 2020</option>
                      <option value="2020-09-01">September 2020</option>
                      <option value="2020-10-01">October 2020</option>
                      <option value="2020-11-01">November 2020</option>
                      <option value="2020-12-01">December 2020</option>
                      <option value="2021-01-01">January 2021</option>
                      <option value="2021-02-01">February 2021</option>
                      <option value="2021-03-01">March 2021</option>
                      <option value="2021-04-01">April 2021</option>
                      <option value="2021-05-01">May 2021</option>
                      <option value="2021-06-01">June 2021</option>
                      <option value="2021-07-01">July 2021</option>
                      <option value="2021-08-01">August 2021</option>
                      <option value="2021-09-01">September 2021</option>
                      <option value="2021-10-01">October 2021</option>
                      <option value="2021-11-01">November 2021</option>
                      <option value="2021-12-01">December 2021</option>
                      <option value="2022-01-01">January 2022</option>
                  </select>
                  </div>
                </div>
                <div class="col">
                  <div class="submit_button">
                    <button class="btn btn-primary">Start finding my tour</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popular">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="main_title">
          <h1>Popular tours</h1>
        </div>
        <div class="sub_title">
          <h5>You can find some of our popular tours down here</h5>
        </div>
      </div>
    </div>
  </div>
</section>
