<section class="top-image">
    <div class="header">
        <h1>Travel to City</h1>
    </div>
</section>

<section class="city-content">
    <div class="container">
        <div class="little-desc">
            <h3>What about this city?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consectetur ab rerum modi quos voluptates eius doloribus itaque exercitationem, necessitatibus soluta aut odio adipisci pariatur aliquam quis omnis ipsam beatae!</p>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-lg-3 leader">
                    <div class="image">
                        <a [routerLink] = "['/leaders', 'leadername']">
                            <img src="../../assets/city.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <h4>leader name</h4>
                        <p>leader address</p>
                        <span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                    <div class="image">
                        <a [routerLink] = "['/leaders', 'leadername']">
                            <img src="../../assets/city.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <h4>leader name</h4>
                        <p>leader address</p>
                        <span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                    <div class="image">
                        <a [routerLink] = "['/leaders', 'leadername']">
                            <img src="../../assets/city.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <h4>leader name</h4>
                        <p>leader address</p>
                        <span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-9 hotel-tour">
                    <div class="row">
                        <div class="col-lg">
                            <div class="hotel-head">
                                <h3>
                                    City most popular hotels
                                    <a href="">
                                        SEE MORE HOTELS
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="image">
                                <a [routerLink] = "['/hotels', 'hotelname']">
                                    <img src="../../assets/city.jpg" alt="">
                                </a>
                                <div class="price">
                                    <a href="">$500</a>
                                </div>
                            </div>
                            <div class="desc">
                                <h4>hotel name</h4>
                                <p>hotel address</p>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="days">
                                    <i class="far fa-clock"></i>
                                    <a href="">5 Days</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image">
                                <a [routerLink] = "['/hotels', 'hotelname']">
                                    <img src="../../assets/city.jpg" alt="">
                                </a>
                                <div class="price">
                                    <a href="">$500</a>
                                </div>
                            </div>
                            <div class="desc">
                                <h4>hotel name</h4>
                                <p>hotel address</p>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="days">
                                    <i class="far fa-clock"></i>
                                    <a href="">5 Days</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image">
                                <a [routerLink] = "['/hotels', 'hotelname']">
                                    <img src="../../assets/city.jpg" alt="">
                                </a>
                                <div class="price">
                                    <a href="">$500</a>
                                </div>
                            </div>
                            <div class="desc">
                                <h4>hotel name</h4>
                                <p>hotel address</p>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="days">
                                    <i class="far fa-clock"></i>
                                    <a href="">5 Days</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg">
                            <div class="tour-head">
                                <h3>
                                    City most popular tours
                                    <a href="">
                                        SEE MORE TOURS
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="image">
                                <a [routerLink] = "['/hotels', 'hotelname']">
                                    <img src="../../assets/city.jpg" alt="">
                                </a>
                                <div class="price">
                                    <a href="">$500</a>
                                </div>
                            </div>
                            <div class="desc">
                                <h4>hotel name</h4>
                                <p>hotel address</p>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="days">
                                    <i class="far fa-clock"></i>
                                    <a href="">5 Days</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image">
                                <a [routerLink] = "['/hotels', 'hotelname']">
                                    <img src="../../assets/city.jpg" alt="">
                                </a>
                                <div class="price">
                                    <a href="">$500</a>
                                </div>
                            </div>
                            <div class="desc">
                                <h4>hotel name</h4>
                                <p>hotel address</p>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="days">
                                    <i class="far fa-clock"></i>
                                    <a href="">5 Days</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image">
                                <a [routerLink] = "['/hotels', 'hotelname']">
                                    <img src="../../assets/city.jpg" alt="">
                                </a>
                                <div class="price">
                                    <a href="">$500</a>
                                </div>
                            </div>
                            <div class="desc">
                                <h4>hotel name</h4>
                                <p>hotel address</p>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="days">
                                    <i class="far fa-clock"></i>
                                    <a href="">5 Days</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="city-desc-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg about-head">
                        <h4>What about the city?</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab magni corrupti autem esse quod laudantium, itaque explicabo, harum adipisci neque illum id. Molestias autem alias perspiciatis ipsa ducimus, doloremque iusto!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg time-head">
                        <h4>Best time to travel to city</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>
