<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-lg-12 city-img">
            <div class="type-box">
                <h5>yazd vacations</h5>
                <div class="type-content">
                    <div class="type-content-header">
                        <h4>Design your trip with a local travel agent based in Yazd</h4>
                    </div>
                    <div class="type-content-intro">
                        <p>Either customize a tour idea below, or send a general inquiry by clicking 'Start designing my trip.'</p>
                    </div>
                    <div class="type-form">
                        <form class="form-inline container-fluid" action="">
                            <div class="row">
                                <div class="form-group first col-lg-4 col-md-6 col-sm-6">
                                    <label>I plan to travel</label>
                                    <select class="form-control type" name="date" form="form-inline">
                                        <option value="" selected="" disabled="" style="display:none;">As a couple</option>
                                        <option value="couple">As a couple</option>
                                        <option value="family">With family</option>
                                        <option value="friends">With friends</option>
                                        <option value="group">Private group</option>
                                        <option value="alone">Alone</option>
                                    </select>
                                </div>
                                <div class="form-group seacond col-lg-4 col-md-6 col-sm-6">
                                    <label>In</label>
                                    <select class="form-control date" name="date" form="form-inline">
                                        <option value="" selected="" disabled="" style="display:none;">Departure date</option>
                                        <option value="2020-04-01">April 2020</option>
                                        <option value="2020-05-01">May 2020</option>
                                        <option value="2020-06-01">June 2020</option>
                                        <option value="2020-07-01">July 2020</option>
                                        <option value="2020-08-01">August 2020</option>
                                        <option value="2020-09-01">September 2020</option>
                                        <option value="2020-10-01">October 2020</option>
                                        <option value="2020-11-01">November 2020</option>
                                        <option value="2020-12-01">December 2020</option>
                                        <option value="2021-01-01">January 2021</option>
                                        <option value="2021-02-01">February 2021</option>
                                        <option value="2021-03-01">March 2021</option>
                                        <option value="2021-04-01">April 2021</option>
                                        <option value="2021-05-01">May 2021</option>
                                        <option value="2021-06-01">June 2021</option>
                                        <option value="2021-07-01">July 2021</option>
                                        <option value="2021-08-01">August 2021</option>
                                        <option value="2021-09-01">September 2021</option>
                                        <option value="2021-10-01">October 2021</option>
                                        <option value="2021-11-01">November 2021</option>
                                        <option value="2021-12-01">December 2021</option>
                                        <option value="2022-01-01">January 2022</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary col-lg-4 col-md-12 col-sm-12">Start designing my trip</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-lg design-trip">
            <div class="row design-trip-box">
                <h6>ITALY VACATIONS</h6>
                <div class="col-lg design-trip-content">
                    <h4>Design your trip with a local travel agent based in Italy</h4>
                    <p>Either customize a tour idea below, or send a general inquiry by clicking 'Start designing my trip.'</p>
                    <div class="design-trip-form">
                        <form class="form-inline" action="">
                            <label for="email">I plan to travel </label>
                            <select class="form-control type" name="date" form="form-inline">
                                <option value="" selected="" disabled="" style="display:none;">As a couple</option>
                                <option value="couple">As a couple</option>
                                <option value="family">With family</option>
                                <option value="friends">With friends</option>
                                <option value="group">Private group</option>
                                <option value="alone">Alone</option>
                            </select>
                            <label for="pwd">In </label>
                            <select class="form-control date" name="date" form="form-inline">
                                <option value="" selected="" disabled="" style="display:none;">Departure date</option>
                                <option value="2020-04-01">April 2020</option>
                                <option value="2020-05-01">May 2020</option>
                                <option value="2020-06-01">June 2020</option>
                                <option value="2020-07-01">July 2020</option>
                                <option value="2020-08-01">August 2020</option>
                                <option value="2020-09-01">September 2020</option>
                                <option value="2020-10-01">October 2020</option>
                                <option value="2020-11-01">November 2020</option>
                                <option value="2020-12-01">December 2020</option>
                                <option value="2021-01-01">January 2021</option>
                                <option value="2021-02-01">February 2021</option>
                                <option value="2021-03-01">March 2021</option>
                                <option value="2021-04-01">April 2021</option>
                                <option value="2021-05-01">May 2021</option>
                                <option value="2021-06-01">June 2021</option>
                                <option value="2021-07-01">July 2021</option>
                                <option value="2021-08-01">August 2021</option>
                                <option value="2021-09-01">September 2021</option>
                                <option value="2021-10-01">October 2021</option>
                                <option value="2021-11-01">November 2021</option>
                                <option value="2021-12-01">December 2021</option>
                                <option value="2022-01-01">January 2022</option>
                            </select>
                            <button type="submit">Start design my trip</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>