<section class="leader-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-pic">
                    <img src="../../../assets/city.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="leader-name">
                    <h2>leadername</h2>
                </div>
                <div class="about-leader">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit necessitatibus laboriosam culpa aliquid corrupti ipsum vel inventore at veniam, quos, est maxime consectetur eius? Nulla tempore ut fugiat ad perferendis.</p>
                </div>
                <div class="leader-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <i class="fas fa-calendar-check"></i>
                                <span>Joind comeoniran :</span> 
                                4 years ago
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <i class="fas fa-business-time"></i>
                                <span>Leader operating for :</span> 
                                10years
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Based in :</span>
                                iran,yazd
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <i class="fas fa-comments"></i>
                                <span>Language spoken :</span> 
                                english,french
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tour-idea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h2>Browse their tour ideas</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="desc-top">
                    <h5>Browse leadername customizable tour ideas.</h5>
                    <p>These ideas are completely customizable: duration, pace, accommodation, activities...</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="image">
                    <img src="../../../assets/city.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="desc">
                    <h4>The tour title</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quos omnis repellat voluptatum autem rem dolores totam in pariatur sapiente, vel at veritatis rerum odio corrupti sunt nesciunt iste illum!</p>
                    <div>Lenght : 8 days</div>
                    <div>price : $500</div>
                </div>
            </div>
        </div>
        <div class="row other-tour">
            <div class="col-lg-3">
                <a href="">
                    <span>
                        <img src="../../assets/city.jpg" style="width: 100%;height: 200px;">
                        <div class="desc">
                            <h5>tourname</h5>
                            <p>tour desc</p>
                            <p>Lenght : 8 days</p>
                            <p>price : $500</p>
                        </div>
                    </span>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="">
                    <span>
                        <img src="../../assets/city.jpg" style="width: 100%;height: 200px;">
                        <div class="desc">
                            <h5>tourname</h5>
                            <p>tour desc</p>
                            <p>Lenght : 8 days</p>
                            <p>price : $500</p>
                        </div>
                    </span>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="">
                    <span>
                        <img src="../../assets/city.jpg" style="width: 100%;height: 200px;">
                        <div class="desc">
                            <h5>tourname</h5>
                            <p>tour desc</p>
                            <p>Lenght : 8 days</p>
                            <p>price : $500</p>
                        </div>
                    </span>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="">
                    <span>
                        <img src="../../assets/city.jpg" style="width: 100%;height: 200px;">
                        <div class="desc">
                            <h5>tourname</h5>
                            <p>tour desc</p>
                            <p>Lenght : 8 days</p>
                            <p>price : $500</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="other-leader">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h2>Other leaders you might like</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content">
                <div class="image">
                    <a [routerLink] = "['/leaders', 'leadername']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>leader name</h4>
                    <p>leader address</p>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content">
                <div class="image">
                    <a [routerLink] = "['/leaders', 'leadername']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>leader name</h4>
                    <p>leader address</p>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content">
                <div class="image">
                    <a [routerLink] = "['/leaders', 'leadername']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>leader name</h4>
                    <p>leader address</p>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>