<section class="top-image">
    <div class="header">
        <h1>Name hotel</h1>
    </div>
</section>

<section class="hotel-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h2>what about hotel name</h2>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum saepe deserunt adipisci minima fugit facere quibusdam repudiandae velit quaerat, at porro corrupti, ad aut nulla autem ratione, dignissimos fugiat minus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="owner">
                    <div class="name">
                        <h3>Owner name</h3>
                    </div>
                    <div class="image">
                        <img src="../../assets/city.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h4>Owner name</h4>
                        <p>Owner Desc</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="gallery">
                    <div class="row donation">
                        <div class="col-lg-12">
                            <div class="header">
                                <h3>Hotel gallery</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="top-item-content">
                                    <img src="../../assets/city.jpg" alt="#">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="top-item-content">
                                <img src="../../assets/city.jpg" alt="#">
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="top-item-content">
                                <img src="../../assets/city.jpg" alt="#">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="see-more">
                                <a href="">See More Photo</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tour-desc-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row possibilities">
                    <div class="col-lg-12">
                        <h3>Hotel possibilities</h3>
                    </div>
                    <div class="col-lg-12 poss">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Internet</h4>
                                <i class="fas fa-wifi"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Pool</h4>
                                <i class="fas fa-swimming-pool"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Tv</h4>
                                <i class="fas fa-tv"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Bath</h4>
                                <i class="fas fa-bath"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Kitchen</h4>
                                <i class="fas fa-utensils"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Parking</h4>
                                <i class="fas fa-parking"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Breafast</h4>
                                <i class="fas fa-egg"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Launch</h4>
                                <i class="fas fa-hamburger"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Dinner</h4>
                                <i class="fas fa-drumstick-bite"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Ventilation</h4>
                                <i class="fas fa-temperature-low"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Landry</h4>
                                <i class="fas fa-tshirt"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <h4>Gym</h4>
                                <i class="fas fa-dumbbell"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 map-box">
                <h3>Find it on the map</h3>
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>
</section>

<section class="other-hotels">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 other-head">
                <h3>Other hotels you might like</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 content">
                <div class="image">
                    <a [routerLink] = "['/hotels', 'hotelname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>CityName</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 content">
                <div class="image">
                    <a [routerLink] = "['/hotels', 'hotelname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>CityName</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 content">
                <div class="image">
                    <a [routerLink] = "['/hotels', 'hotelname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>CityName</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 content">
                <div class="image">
                    <a [routerLink] = "['/hotels', 'hotelname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>CityName</h4>
                </div>
            </div>
        </div>
    </div>
</section>