<div class="header">
  <div class="container-fluid">
    <div class="header-head">
      <div class="header-head-left">

          <a href="/" class="header-head-logo">
            <span class="logo-container">Logo container</span>
          </a>
  
          <a href="destinations" class="header-head-link" (mouseenter)="mouseEnter('destination')">
            Destinations
            <i class="fa fa-angle-downfa fa-angle-down"></i>
          </a>

          <a href="where-to-go" class="header-head-link" (mouseenter)="mouseEnter('triptypes')">
            Trip Type
            <i class="fa fa-angle-downfa fa-angle-down"></i>
          </a>

          <a href="about-us" class="header-head-link">
            About Us
          </a>

          <a href="/" onclick="return false" class="header-head-link" id="collapse" (click)="collapseClick('collapse')">
            <i class="fa fa-reorder"></i>
          </a>

          <a href="login" class="header-head-link" id="login" *ngIf="showLogin">
            <i class="fa fa-user" style="font-size:18px;margin-right:10px;"></i>
            Sign in to my Account
          </a>

      </div>
    </div>
  </div>
  <div class="header-head-collapse" *ngIf="this.showCollapse" (click)="collapseClick('collapse')">
    <ul>
      <li class="destination-collapse" *ngIf="this.justTripType">
        <a href="/" onclick="return false" (click)="collapseClick('destination')" >
          Destinations
          <i class="fa fa-close" *ngIf="showDestination"></i>
          <i class="fa fa-angle-right" *ngIf="this.justDestinations"></i>
        </a>
      </li>
      <li class="triptype-collapse" *ngIf="this.justDestinations">
        <a href="/" onclick="return false" (click)="collapseClick('triptypes')">
          Trip Types
          <i class="fa fa-close" *ngIf="showTripTypes"></i>
          <i class="fa fa-angle-right" *ngIf="this.justTripType"></i>
        </a>
      </li>
      <li class="about-us-collapse" *ngIf="this.justDestinations && this.justTripType">
        <a href="about-us">About Us</a>
      </li>
      <li class="login-collapse" *ngIf="this.justDestinations && this.justTripType">
        <a href="login">
          Sign in to my Account
        </a>
      </li>
    </ul>
  </div>

  <div class="header-view-container">
    <div class="destination-content" *ngIf="showDestination" (mouseleave)="mouseLeave('destination')">
      <div class="row">
        <div class="cities">
          <ul class="cities-name">
            <li><a href="/" onclick="return false;" (click)="cityClick('Iran')">All</a></li>
            <li><a href="/" onclick="return false;" (click)="cityClick('Tehran')">Tehran</a></li>
            <li><a href="/" onclick="return false;" (click)="cityClick('Yazd')">Yazd</a></li>
            <li><a href="/" onclick="return false;" (click)="cityClick('Esfahan')">Esfahan</a></li>
          </ul>
          <div class="best-cities">
            <h4>Top destinations of the moment in {{cityname}}</h4>
            <div class="best-cities-pic">
              <span><img src="../../assets/city.jpg" alt=""></span>
              <span><img src="../../assets/city.jpg" alt=""></span>
              <span><img src="../../assets/city.jpg" alt=""></span>
            </div>
          </div>
          <br>
          <a href="destinations">SEE ALL TRAVEL DESTINATIONS ></a>
        </div>
      </div>
    </div>

    <div class="triptype-content" *ngIf="showTripTypes" (mouseleave)="mouseLeave('triptypes')">
      <div class="row">
        <div class="trip-types">
          <div class="trip-types-head">
            <h4>Browse our tour ideas by category</h4>
            <input type="submit" value="See all tour ideas"> 
          </div>
          <div class="trip-types-list">
            <ul>
              <li>
                <img src="../../assets/city.jpg" alt="">
              </li>
              <li>
                <img src="../../assets/city.jpg" alt="">
              </li>
              <li>
                <img src="../../assets/city.jpg" alt="">
              </li>
              <li>
                <img src="../../assets/city.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
