<nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" (mouseenter)="mouseEnter('destination')">
          <a class="nav-link" href="#">Destination</a>
        </li>

        <li class="nav-item" (mouseenter)="mouseEnter('triptypes')" (mouseleave)="mouseLeave('triptypes')">
          <a class="nav-link" href="#">Trip Types</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
        </li>

      </ul>
      <ul class="navbar-nav" *ngIf="showLogin">

        <li class="nav-item active">
            <a class="nav-link login-link" href="/login">Login/Register</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container destination-content" *ngIf="showDestination" (mouseleave)="mouseLeave('destination')">
    <div class="row">
      <div class="cities">
        <div class="cities-name">
          <span><a href="">All</a></span>
          <span><a href="">Tehran</a></span>
          <span><a href="">Yazd</a></span>
          <span><a href="">Esfahan</a></span>
        </div>
        <div class="best-cities">
          <h4>Top destinations of the moment in iran</h4>
          <div class="best-cities-pic">
            <span><img src="../../assets/city.jpg" alt=""></span>
            <span><img src="../../assets/city.jpg" alt=""></span>
            <span><img src="../../assets/city.jpg" alt=""></span>
          </div>
      </div>
      <ul>
      </ul>
    </div>
  </div>

  <div class="container trip-types-content" *ngIf="showTripTypes">
    <div class="trip">afdjkh</div>
  </div>

