/* banner part start  */
.banner_part {
    position: relative;
    background-image: url(../../assets/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    height: 800px;
    background-color: #ffcc00;
  }
  
  @media (max-width: 991px) {
    .banner_part {
      height: 450px;
      background-size: 100% 90%;
    }
  }
  
  .banner_part .banner_text {
    width: 100%;
    padding-top: 10%;
  }

  @media screen and (max-width:576px) {
    .banner_part .banner_text {
      padding-top: 30%;
    }
  }
  
  .banner_part .banner_text .up-head {
    width: 80%;
    margin-left: 10%;
    color: white;
  }

  @media screen and (max-width:576px) {
    .banner_part .banner_text .up-head {
      width: 100%;
      margin: 0;
    }
  }

  .banner_part .banner_text .up-head span {
    margin-right: 10px;
  }

  @media screen and (max-width:576px){
    .banner_part .banner_text .up-head span {
      margin: 0;
    }
  }

  .banner_part .banner_text .up-head i {
    font-size: 7px;
    margin-right: 5px;
  }

  .banner_part .banner_text .up-head span:nth-child(even) i {
    color: yellow;
  }

  .banner_part .banner_text .up-head span:nth-child(odd) i {
    color: blue;
  }
  
  .banner_part .banner_text h5 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    margin-left: 10%;
    margin-top: 3%;
  }
  
  @media (max-width: 756px) {
    .banner_part .banner_text h5 {
      font-size: 30px;
    }
  }

  @media screen and (max-width:576px) {
    .banner_part .banner_text h5 {
      margin-left: 0;
    }
  }
  /* banner part end  */
/*---------------------------------------------------------------------------------------------------------------*/

  /* search part start  */
  .search_your_country {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(250, 249, 248);
    padding: 165px 0 100px;
    position: relative;
    margin-top: -254px;
  }
  
  @media (max-width: 991px) {
    .search_your_country {
      padding: 50px 0;
      margin-top: -70px;
    }
  }
  
  .search_your_country .container-fluid {
    max-width: 80%;
  }
  
  @media (max-width: 1125px) {
    .search_your_country .container-fluid {
      max-width: 100%;
    }
  }
  
  .search_your_country .search_form {
    background-color: #0297c9;
    padding: 20px 35px;
    margin-bottom: 50px;
    color: #fff;
    position: absolute;
    width: 100%;
    top: -210px;
  }

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline i {
    font-size: 50px;
    margin-right: 5%;
    padding-bottom: 10px;
  }

  @media screen and (max-width:1125px) {
    .form-inline i {
      display: none;
    }
  }
  
  .form-inline input {
    padding: 15px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media screen and (max-width:1125px) {
    .form-inline input {
      width: 80%;
    }
  }

  @media screen and (max-width:801px) {
    .form-inline input {
      width: 100%;
      border-radius: 5px;
    }
  }

  .form-inline input:focus {
    border: 1px solid rgb(173, 173, 173);
  }
  
  .form-inline .submit{
    padding: 16px 20px;
    background-color: rgb(255, 206, 67);
    color: rgb(54, 54, 54);
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @media screen and (max-width:1125px){
    .form-inline .submit {
      width: 20%;
    }
  }

  @media screen and (max-width:801px) {
    .form-inline .submit {
      border-radius: 5px;
      width: 100%;
    }
  }

  .form-inline .triptypes{
    background-color: white;
    color: rgb(54, 54, 54);
    border: 1px solid rgb(255, 206, 67);
    margin-left: 5%;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  @media screen and (max-width:1125px) {
    .form-inline .triptypes {
      width: 100%;
      margin-left: 0;
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }
  
  .form-inline .submit:hover {
    background-color: rgb(255, 187, 0);
    color: black;
  }

  .form-inline .triptypes:hover {
    color: black;
    background-color: rgb(252, 252, 135);
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  @media (max-width: 991px) {
    .search_your_country .search_form {
      padding: 5px;
      left: 0;
      margin-top: 130px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .search_your_country .search_form {
      left: 0;
    }
  }

  .top-item-header {
    text-align: center;
    margin-bottom: 3%;
    margin-top: -5%;
  }

  @media screen and (max-width:1125px) {
    .top-item-header {
      margin-top: 3%;
      margin-bottom: -7%;
    }
  }

  @media screen and (max-width:991px) {
    .top-item-header {
      margin-top: 15%;
    }
  }

  @media screen and (max-width:802px) {
    .top-item-header {
      margin-top: 24%;
    }
  }

  @media screen and (max-width:576px) {
    .top-item-header {
      margin-top: 40%;
      margin-bottom: -100px;
    }
  }
  
  .top-item-content {
    position: relative;
    width: 100%;
    margin-bottom: 7%;
  }

  .top-item-content h4 {
    text-align: center;
    margin-bottom: 7%;
  }

  .top-item-content img {
    width: 100%;
    height: 250px;
    transition: margin .5s;
    border-radius: 10px;
  }

  @media screen and (max-width:640px) {
    .top-item-content img {
      height: 180px;
    }
  }

  @media screen and (max-width:360px) {
    .top-item-content img {
      height: 200px;
    }
  }

  .top-item-content img:hover {
    margin-top: -5%;
    box-shadow: 5px 10px #a1a1a1;
  }

  .top-item-content:hover .desc a{
    background-color: #0297c9;
  }

  .top-item-content .desc h5 {
    color: white;
    font-weight: 600;
  }

  .top-item-content h5, .top-item-content a {
    display: inline;
  }

  .top-item-content .desc {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }

  .top-item-content .desc a {
    background-color: rgb(253, 188, 8);
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
  }

  .donation {
      margin-top: 5%;
  }

  @media screen and (max-width:1125px) {
    .donation {
      margin-top: 15%;
    }
  }

  @media screen and (max-width:756px) {
    .donation {
      margin-top: 10%;
      padding: 10%;
    }
  }

  @media screen and (max-width:576px) {
    .donation {
      margin-top: 33%;
    }
  }
  /* search part end  */

/* amazing tour ends  */
/* ------------------------------------------------------------------------------------------   */


/* advantages start  */
.advantages {
  background-color: #0297c9;
}

.advantages .content{
  width: 90%;
  margin-left: 5%;
}

@media screen and (max-width:576px) {
  .advantages .content .head-icon {
    margin-bottom: -1px;
  }
}

.advantages .content .head-icon i{
  color: white;
  padding-top: 2%;
  margin-right: 10px;
  font-size: 10px;
}

.advantages .content .head h3{
  color: white;
  font-weight: 800;
  padding-top: 3%;
}

.advantages .content-box {
  margin-top: 3%;
  margin-left: 5%;
}

.advantages .content-box i {
  font-size: 60px;
  color: white;
}

.advantages .content-box .desc {
  margin-top: 10%;
  padding-bottom: 30px;
}
.advantages .content-box .desc h4 {
  font-weight: 800;
  color: white;
}

.advantages .content-box .desc p {
  color: white;
  font-weight: 300;
}

.advantages .about-us-button {
  background-color: #0297c9;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid white;
  margin-left: 37%;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 14px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.advantages .about-us-button:hover {
  background-color: #03b2ec;
}

@media screen and (max-width:670px) {
  .advantages .about-us-button {
    margin: 0 0 5% 27%;
  }
}

@media screen and (max-width:360px) {
  .advantages .about-us-button {
    margin: 0 0 5% 12%;
  }
}

/* advantages part end  */
/* ----------------------------------------------------------------------------------------------------- */
.leaders {
  margin-top: 10%;
  width: 90%;
}

@media screen and (max-width:640px) {
  .leaders .leader-detail {
    margin-left: 5%;
  }
}

.leaders .leader-detail .head-icon {
  text-align: center;
  margin-top: 10%;
  font-size: 60px;
}

.leaders .leader-detail .title h2 {
  text-align: center;
}

.leaders .leader-detail .desc {
  width: 80%;
  margin-left: 10%;
}

.leaders .leader-detail .desc p {
  text-align: center;
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: 400;
}

.leaders .leader-detail .see-more {
  margin-top: 5%;
  margin-left: 30%;
  margin-bottom: 5%;
}

@media screen and (max-width:576px) {
  .leaders .leader-detail .see-more {
    margin-left: 10%;
  }
}

@media screen and (max-width:360px) {
  .leaders .leader-box {
    margin-left: 10%;
  } 
}

/* ------------------------------------------------------------------------------------------------- */
/* popular hotels start  */

.popular_hotels .section_tittle h2 {
  margin-top: -15%;
  margin-bottom: 20%;
}

@media screen and (max-width:991px) {
  .popular_hotels .section_tittle h2 {
    margin-top: 3%;
    font-size: 30px;
  }
}

@media screen and (max-width:576px) {
  .popular_hotels .section_tittle h2 {
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}

.popular_hotels .donation {
  margin-top: -1%;
}

.popular_hotels .donation .content {
  margin-bottom: 3%;
}

.content:hover .price {
  background-color: #0297c9;
}

.content:hover .desc h4 {
  color: #0297c9;
}

.donation .content .image img {
  width: 100%;
  height: 250px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.donation .content .desc {
  background-color: white;
  border-left: 1px solid rgb(204, 203, 203);
  border-right: 1px solid rgb(204, 203, 203);
  border-bottom: 1px solid rgb(204, 203, 203);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  margin-bottom: 10%;
}

.content .price {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: rgb(253, 188, 8);
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
}

.content .price a {
  color : white;
  font-weight: 700;
  font-size: 15px;
}

.donation .content .desc .days {
  float: right;
}

.popular_hotels .see-More {
  margin-left: 43%;
}

@media screen and (max-width:576px) {
  .popular_hotels .see-More {
    margin-left: 30%;
  }
}

.popular_hotels .see-More button {
  border:none;
  background-color: rgb(255, 197, 38);
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}

.popular_hotels .see-More button:hover {
  background-color: rgb(253, 186, 0);
}

/* popular hotel ends  */

/* ------------------------------------------------------------------------------------------------ */

.cta_part {
  background-color: #0297c9;
  margin-top: 10%;
  width: 100%;
}

.cta_part .head h1{
  font-weight: 700;
  text-align: center;
  margin-top: -10%;
  color: white;
}

.cta_part .head p {
  text-align: center;
  color: white;
  font-weight: 500;
}

.cta_part .search-box input{
  padding: 20px;
  width: 70%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 7%;
}

@media screen and (max-width:991px) {
  .cta_part .search-box input {
    width: 80%;
  }
}

@media screen and (max-width:576px){
  .cta_part .search-box input {
    width: 100%;
    margin: 0;
  }
}

.cta_part .search-box button {
  background-color: white;
  color: rgb(54, 54, 54);
  background-color:rgb(255, 206, 67);
  border: none;
  border-radius: 5px;
  padding: 21px 20px;
  margin-left: 2%;
  cursor: pointer;
}

@media screen and (max-width:991px) {
  .cta_part .search-box button {
    width: 30%;
    margin-left: 30%;
    margin-top: 2%;
  }
}

@media screen and (max-width:576px) {
  .cta_part .search-box button {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }
}

.cta_part .search-box button:hover {
  background-color: rgb(253, 188, 8);
}

/* ------------------------------------------------------------------------------------------------------ */

.tour_package {
  width: 90%;
  margin-left: 5%;
  margin-top: -2%;
}

@media screen and (max-width:1125px) {
  .tour_package {
    margin-top: 3%;
  }
}

.tour_package .content {
  margin-bottom: 5%;
}

.tour_package .content .desc {
    background-color: white;
  border-left: 1px solid rgb(204, 203, 203);
  border-right: 1px solid rgb(204, 203, 203);
  border-bottom: 1px solid rgb(204, 203, 203);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  margin-bottom: 10%;
}

.tour_package .content .image img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.tour_package .content .days {
  margin-left: 26%;
}

.tour_package .see-More {
  margin-left: 43%;
  margin-top: 1%;
}

@media screen and (max-width:576px) {
  .tour_package .see-More {
    margin-left: 30%;
  }
}

.tour_package .see-More button {
  border:none;
  background-color: rgb(255, 197, 38);
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}

.tour_package .see-More button:hover {
  background-color: rgb(253, 186, 0);
}


/* -------------------------------------------------------------------------------------------------------- */