<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg" style="width: 100%;">
                <div class="banner_text">
                    <span class="up-head">
                        <span>
                            Discover
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                        <span>
                            Easy
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                        <span>
                            Travel
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </span>
                    </span>
                    <h5>Create tailor-made tours with local travel agents</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- banner part start-->
<section class="search_your_country">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="search_form">
                    <form class="form-inline">
                        <i class="fas fa-map-marked-alt"></i>
                        <input type="email" id="email" placeholder="Where would you like to go?">
                        <button class="submit" type="submit">Discover</button>
                        <button class="triptypes" type="submit">Not sure yet? Try our Trip Finder</button>
                      </form>
                </div>
            </div>
        </div>
        <div class="top-item-header">
            <h1>Top popular options</h1>
        </div>
        <div class="row donation">
            <div class="col-lg-3 col-md-3 col-sm-6 content">
                <div class="head">
                    <h5>Hotel</h5>
                </div>
                <div class="image">
                    <a [routerLink] = "['/hotels', 'hotelname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                    <div class="price">
                        <a href="">$500</a>
                    </div>
                </div>
                <div class="desc">
                    <h4>hotel name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem earum consequatur non tempora nisi illum maslflkllkdflll</p>
                    <span class="rank">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                    <span class="days">
                        <i class="far fa-clock"></i>
                        <a href="">5 Days</a>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 content">
                <div class="head">
                    <h5>Tour</h5>
                </div>
                <div class="image">
                    <a [routerLink] = "['/tours', 'tourname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                    <div class="price">
                        <a href="">$500</a>
                    </div>
                </div>
                <div class="desc">
                    <h4>tour name</h4>
                    <p>tour description</p>
                    <span class="rank">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                    <span class="days">
                        <i class="far fa-clock"></i>
                        <a href="">5 Days</a>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 content">
                <div class="head">
                    <h5>Destination</h5>
                </div>
                <div class="image">
                    <a [routerLink] = "['/destination', 'destname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>city name</h4>
                    <p>city description</p>
                    <span class="rank">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 content" *ngFor="let item of topLeader">
                <div class="head">
                    <h5>Leader</h5>
                </div>
                <div class="image">
                    <a [routerLink] = "['/leaders', item.first_name]">
                        <img src="{{item.image}}" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>{{item.first_name}} {{item.last_name}}</h4>
                    <p>{{item.description}}</p>
                    <span class="rank">
                        <i class="fas fa-star" *ngFor="let item of [].constructor(item.rank)"></i>
                        <i class="far fa-star" *ngFor="let item of [].constructor(5 - item.rank)"></i>
                    </span>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- banner part start-->

<section class="advantages">
    <div class="content">
        <div class="head">
            <div class="head-icon">
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
            </div>
            <h3>The advantages of ComeOnIran</h3>
        </div>
        <div class="content-box">
            <div class="row ">
                <div class="col-lg-3 col-sm-6">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="desc">
                        <h4>Local Expertise</h4>
                        <p>From local gems to highlights, our agents have you covered</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <i class="fas fa-edit"></i>
                    <div class="desc">
                        <h4>100% Tailor-Made</h4>
                        <p>Customize a tour based around your needs and interests</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <i class="fas fa-dollar-sign"></i>
                    <div class="desc">
                        <h4>Cost-Efficient Pricing</h4>
                        <p>Our prices don't include any middleman fee</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <i class="fas fa-handshake"></i>
                    <div class="desc">
                        <h4>Our Guarantees</h4>
                        <p>We're an ASTA member and provide a range of safety guarantees</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us">
            <a [routerLink] = "['/about-us']">
                Read more about ComeOnIran
            </a>
        </div>
    </div>
</section>

<section class="leaders">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 leader-detail">
                <div class="head-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="title">
                    <h2>Local agencies and leaders</h2>
                </div>
                <div class="desc">
                    <p>All the agents on the ComeOnIran website are carefully selected local professionals.
                    Each agent specializes in tailor-made tours,
                    so send an inquiry and start creating your perfect trip!</p>
                </div>
                <div class="see-more">
                    <a href="leaders">
                        SEE MORE OF OUR LEADERS 
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 leader-box" *ngFor="let item of lastLeaders">
                <div class="image">
                    <a [routerLink] = "['/leaders', item.id]">
                        <img src="{{item.image}}" alt="">
                    </a>
                </div>
                <div class="desc">  
                    <h5>{{item.first_name}} {{item.last_name}}</h5>
                    <p>{{item.description}}</p>
                    <span>
                        <i class="fas fa-star" *ngFor="let item of [].constructor(item.rank)"></i>
                        <i class="far fa-star" *ngFor="let item of [].constructor(5 - item.rank)"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- use sasu part end-->
<section class="popular_hotels padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <h2>Recent Hotels </h2>
                </div>
            </div>
        </div>
        <div class="row donation">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 content" *ngFor="let item of lastHotels">
                    <div class="image">
                        <a [routerLink] = "['/hotels', item.id]">
                            <img src="http://comeoniran.com/media/{{item.image[0]}}" alt="">
                        </a>
                        <div class="price">
                            <a href="">${{item.price}}</a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>{{item.name}}</h4>
                        <p>{{item.description}}</p>
                        <span class="rank">
                            <i class="fas fa-star" *ngFor="let item of [].constructor(item.rank)"></i>
                            <i class="far fa-star" *ngFor="let item of [].constructor(5 - item.rank)"></i>
                        </span>
                        <span class="days">
                            <i class="far fa-clock"></i>
                            <a href="" style="margin-left:3px;color:black">{{item.created_at}} days</a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 content">
                    <div class="image">
                        <a [routerLink] = "['/hotels', 'hotelname']">
                            <img src="../../assets/city.jpg" alt="">
                        </a>
                        <div class="price">
                            <a href="">$500</a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>hotel name</h4>
                        <p>hotel address</p>
                        <span class="rank">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                        <span class="days">
                            <i class="far fa-clock"></i>
                            <a href="" style="margin-left:3px;color:black">5 Days</a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 content">
                    <div class="image">
                        <a [routerLink] = "['/hotels', 'hotelname']">
                            <img src="../../assets/city.jpg" alt="">
                        </a>
                        <div class="price">
                            <a href="">$500</a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>hotel name</h4>
                        <p>hotel address</p>
                        <span class="rank">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                        <span class="days">
                            <i class="far fa-clock"></i>
                            <a href="" style="margin-left:3px;color:black">5 Days</a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 content">
                    <div class="image">
                        <a [routerLink] = "['/hotels', 'hotelname']">
                            <img src="../../assets/city.jpg" alt="">
                        </a>
                        <div class="price">
                            <a href="">$500</a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>hotel name</h4>
                        <p>hotel address</p>
                        <span class="rank">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                        <span class="days">
                            <i class="far fa-clock"></i>
                            <a href="" style="margin-left:3px;color:black">5 Days</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="see-More">
                    <a href="hotels">
                        <button>See More Hotels</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- use sasu part end-->

<!-- cta part start-->
<section class="cta_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h1>Keep traveling all year round!</h1>
                    <p>Subscribe to our newsletter to receive the best local travel inspiration directly in your inbox.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="search-box">
                    <input type="text" placeholder="Enter your email here">
                    <button>SUBSCRIBE NOW</button>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- cta part end-->

<!-- pricing part start-->
<section class="tour_package section_padding">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <h2>Recent Tours </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 content" *ngFor="let item of lastTours">
                <div class="image">
                    <a [routerLink] = "['/tours', item.id]">
                        <img src="http://comeoniran.com/media/{{item.image[0]}}" alt="">
                        <img *ngIf="!item.image[0]" src="../../assets/city.jpg" alt="">
                    </a>
                    <div class="price">
                        <a href="">${{item.price}}</a>
                    </div>
                </div>
                <div class="desc">
                    <h4>{{item.name}}</h4>
                    <p>{{item.description}}</p>
                    <span class="rank">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                    <span class="days">
                        <i class="far fa-clock"></i>
                        <a href="">5 Days</a>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 content">
                <div class="image">
                    <a [routerLink] = "['/tours', 'tourname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                    <div class="price">
                        <a href="">$500</a>
                    </div>
                </div>
                <div class="desc">
                    <h4>tour name</h4>
                    <p>tour description</p>
                    <span class="rank">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                    <span class="days">
                        <i class="far fa-clock"></i>
                        <a href="" style="margin-left:3px;color:black">5 Days</a>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 content">
                <div class="image">
                    <a [routerLink] = "['/tours', 'tourname']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                    <div class="price">
                        <a href="">$500</a>
                    </div>
                </div>
                <div class="desc">
                    <h4>tour name</h4>
                    <p>tour description</p>
                    <span class="rank">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                    <span class="days">
                        <i class="far fa-clock"></i>
                        <a href="" style="margin-left:3px;color:black">5 Days</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="see-More">
                    <a href="tours">
                        <button>See More Tours</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing part end-->
