/* banner part start  */
.banner_part {
    position: relative;
    background-image: url(../../assets/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    /* background-position: center; */
    height: 800px;
    background-color: #ffcc00;
  }
  
  @media (max-width: 991px) {
    .banner_part {
      height: 400px;
      background-size: 100% 100%;
    }
  }
  
  .banner_part .banner_text {
    padding-top: 130px;
  }
  
  
  .banner_part .banner_text h5 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-bottom: 34px;
    margin-left: 10%;
  }
  
  @media (max-width: 991px) {
    .banner_part .banner_text h5 {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
  /* banner part end  */
/*---------------------------------------------------------------------------------------------------------------*/










  /* search part start  */
  .search_your_country {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: -1.717px 8.835px 85.56px 6.44px rgba(170, 170, 170, 0.29);
    padding: 165px 0 100px;
    position: relative;
    margin-top: -254px;
  }
  
  @media (max-width: 991px) {
    .search_your_country {
      padding: 50px 0;
      margin-top: -70px;
    }
  }
  
  .search_your_country .container-fluid {
    max-width: 80%;
  }
  
  @media (max-width: 1125px) {
    .search_your_country .container-fluid {
      max-width: 100%;
    }
  }
  
  .search_your_country .search_form {
    background-color: rgb(39, 190, 249);
    padding: 20px 35px;
    margin-bottom: 50px;
    color: #fff;
    position: absolute;
    width: 100%;
    top: -210px;
  }

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline i {
    font-size: 50px;
    margin-right: 5%;
    padding-bottom: 10px;
  }

  @media screen and (max-width:1125px) {
    .form-inline i {
      display: none;
    }
  }
  
  .form-inline input {
    padding: 15px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media screen and (max-width:1125px) {
    .form-inline input {
      width: 60%;
      margin-left: 12%;
      margin-top: 2%;
    }
  }

  @media screen and (max-width:801px) {
    .form-inline input {
      width: 100%;
      border-radius: 5px;
    }
  }

  .form-inline input:focus {
    border: 1px solid rgb(173, 173, 173);
  }
  
  .form-inline .submit{
    padding: 16px 20px;
    background-color: rgb(255, 206, 67);
    color: rgb(54, 54, 54);
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @media screen and (max-width:1125px) {
    .form-inline .submit {
      margin-top: 2%;
      border-radius: 5px;
    }
  }

  .form-inline .triptypes{
    background-color: white;
    color: rgb(54, 54, 54);
    border: 1px solid rgb(255, 206, 67);
    margin-left: 5%;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  @media screen and (max-width:1125px) {
    .form-inline .triptypes {
      width: 71%;
      margin-left: 12%;
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }
  
  .form-inline .submit:hover {
    background-color: rgb(255, 187, 0);
    color: black;
  }

  .form-inline .triptypes:hover {
    color: black;
    font-size: 15px;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  @media (max-width: 991px) {
    .search_your_country .search_form {
      padding: 5px;
      left: 0;
      margin-top: 130px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .search_your_country .search_form {
      left: 0;
    }
  }

  .donation {
      margin-top: 10px;
  }

  @media screen and (max-width:1125px) {
    .donation {
      margin-top: 15%;
    }
  }

  @media screen and (max-width:801px) {
    .donation {
      margin-top: 33%;
      padding: 10%;
    }
  }
  /* search part end  */

  /* ---------------------------------------------------------------------------------------------------------- */










  .feature_part {
    position: relative;
    z-index: 1;
  }
  
  .feature_part .feature_icon_1 {
    position: absolute;
    left: 10%;
    top: 26%;
  }
  
  .feature_part .feature_icon_2 {
    position: absolute;
    right: 10%;
    bottom: 26%;
  }
  
  .feature_part .feature_icon_3 {
    position: absolute;
    right: 40%;
    bottom: 40%;
  }
  
  @media (max-width: 576px) {
    .feature_part .feature_img {
      margin-bottom: 50px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .feature_img {
      padding-left: 0;
    }
  }
  
  @media (max-width: 576px) {
    .feature_part .feature_part_text {
      padding-left: 0;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .feature_part_text {
      padding-left: 0;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .feature_part_text {
      padding-left: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .feature_part_text {
      padding-left: 0;
    }
  }
  
  .feature_part .feature_part_text h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 42px 0 30px;
    position: relative;
    text-transform: capitalize;
  }
  
  @media (max-width: 576px) {
    .feature_part .feature_part_text h2 {
      font-size: 25px;
      margin-bottom: 10px;
      line-height: 35px;
      margin-top: 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .feature_part_text h2 {
      font-size: 25px;
      margin-bottom: 10px;
      line-height: 35px;
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .feature_part_text h2 {
      font-size: 25px;
      margin-bottom: 10px;
      line-height: 35px;
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .feature_part_text h2 {
      font-size: 28px;
      margin-bottom: 20px;
      line-height: 40px;
    }
  }
  
  .feature_part .feature_part_text p {
    margin-bottom: 13px;
  }
  
  .feature_part .feature_part_text .feature_part_text_iner {
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 31px 15px 9px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .feature_part .feature_part_text .feature_part_text_iner {
      padding: 20px 15px 15px;
      margin-bottom: 15px;
    }
  }
  
  .feature_part .feature_part_text .feature_part_text_iner img {
    margin-bottom: 20px;
  }
  
  .feature_part .feature_part_text .feature_part_text_iner h4 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
  }
  
  .feature_part .feature_part_text .feature_part_text_iner:hover {
    border: 1px solid #00c0ff;
    background-color: #00c0ff;
  }
  
  .feature_part .feature_part_text .feature_part_text_iner:hover h4 {
    color: #fff;
  }
  
  .feature_part .feature_part_text .feature_part_text_iner:hover p {
    color: #fff;
  }
  
  .feature_part .single_feature {
    margin: 0 11px;
  }
  
  @media (max-width: 991px) {
    .feature_part .single_feature {
      margin: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .single_feature {
      margin: 0;
    }
  }
  
  .feature_part .single_feature:nth-child(2) {
    margin-top: 60px;
  }
  
  @media (max-width: 991px) {
    .feature_part .single_feature:nth-child(2) {
      margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .single_feature:nth-child(2) {
      margin-top: 30px;
    }
  }
  
  .feature_part .single_feature_part {
    padding: 40px 25px 31px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 81px 0px rgba(216, 216, 216, 0.45);
    background-color: #fff;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  @media (max-width: 991px) {
    .feature_part .single_feature_part {
      padding: 25px 15px;
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .single_feature_part {
      margin-top: 25px;
    }
  }
  
  .feature_part .single_feature_part img {
    margin-bottom: 21px;
    height: 65px;
  }
  
  @media (max-width: 991px) {
    .feature_part .single_feature_part img {
      margin-bottom: 21px;
    }
  }
  
  .feature_part .single_feature_part img i {
    color: #0c2e60;
    font-size: 24px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  .feature_part .single_feature_part h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 22px;
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .single_feature_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .single_feature_part h4 {
      margin-bottom: 15px;
    }
  }
  
  .feature_part span {
    font-style: italic;
    font-weight: 300;
    color: #000;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    display: inline-block;
  }

.single_feature_padding {
  padding-top: 140px;
}

@media (max-width: 576px) {
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single_feature_padding {
    padding-top: 70px;
  }
}
/* ------------------------------------------------------------------------------------------   */







.popular_place {
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 99;
}

/* line 8, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .feature_icon_1 {
  position: absolute;
  left: 22%;
  top: 42%;
  z-index: -1;
}

/* line 15, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .feature_icon_2 {
  right: 20%;
  top: 50%;
  position: absolute;
  z-index: -1;
}

/* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .feature_icon_3 {
  position: absolute;
  left: 3%;
  z-index: -1;
  bottom: 70%;
}

/* line 27, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .feature_icon_4 {
  position: absolute;
  right: 15%;
  top: 7%;
  z-index: -1;
}

/* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .single_popular_place {
  padding: 60px 25px 56px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0px 3px 81px 0px rgba(216, 216, 216, 0.45);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
}

@media (max-width: 576px) {
  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place {
    padding: 25px 10px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place {
    padding: 30px 15px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place {
    padding: 30px 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place {
    margin-top: 25px;
  }
}

/* line 59, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .single_popular_place img {
  max-width: 150px;
}

/* line 62, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .single_popular_place h4 {
  font-weight: 600;
  font-size: 20px;
  margin: 45px 0 20px;
}

@media (max-width: 576px) {
  /* line 62, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 62, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 62, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place h4 {
    margin-bottom: 15px;
  }
}

/* line 81, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .single_popular_place p {
  color: #7f7f7f;
  line-height: 1.8;
  font-size: 15px;
}

/* line 86, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
.popular_place .single_popular_place .btn1 {
  margin-top: 42px;
}

@media (max-width: 991px) {
  /* line 86, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_popular_place.scss */
  .popular_place .single_popular_place .btn1 {
    margin-top: 20px;
  }
}

/* ------------------------------------------------------------------------------------------------ */







@media (max-width: 991px) {
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package {
    padding: 0 0 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package {
    padding: 0 0 80px;
  }
}

/* line 10, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .single_tour_package .tour_pack_content {
  background-color: #fafafa;
  padding: 45px 48px;
}

@media (max-width: 991px) {
  /* line 10, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package .single_tour_package .tour_pack_content {
    padding: 20px 25px;
  }
}

/* line 16, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .single_tour_package .tour_pack_content h4 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .single_tour_package .tour_pack_content p {
  margin-bottom: 50px;
}

/* line 26, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_content_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 31, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_content_rating ul li {
  display: inline-block;
}

/* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_content_rating ul li a {
  color: #ffcc00;
}

/* line 38, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_content_rating .btn1 {
  margin-top: 0;
}

@media (max-width: 991px) {
  /* line 42, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package .tour_pack_content {
    margin-bottom: 30px;
  }
}

/* line 46, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_pack_content img {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  /* line 46, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package .tour_pack_content img {
    margin-bottom: 15px;
  }
}

/* line 52, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_pack_content h2 {
  font-size: 36px;
  margin-bottom: 32px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  /* line 52, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package .tour_pack_content h2 {
    margin-bottom: 15px;
    font-size: 30px;
  }
}

/* line 61, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .tour_pack_content .btn_1 {
  margin-top: 60px;
}

@media (max-width: 991px) {
  /* line 61, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .tour_package .tour_pack_content .btn_1 {
    margin-top: 25px;
  }
}

/* line 68, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .owl-nav {
  position: absolute;
  right: -66px;
  top: 38px;
  transform: rotate(90deg);
}

/* line 73, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
.tour_package .owl-nav button {
  text-transform: capitalize;
  margin-right: 20px;
}

@media (max-width: 991px) {
  /* line 79, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .single_pack {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 79, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_tour_package.scss */
  .single_pack {
    padding: 80px 0;
  }
}  

/* -------------------------------------------------------------------------------------------------------- */






.blog_part {
  position: relative;
}

/* line 4, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .single_blog_part {
  background-color: #fff;
}

@media (max-width: 991px) {
  /* line 4, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part {
    margin-bottom: 20px;
  }
  /* line 8, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part img {
    width: 100%;
  }
}

/* line 12, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .single_blog_part .blog_text {
  padding: 43px 0;
}

@media (max-width: 991px) {
  /* line 12, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part .blog_text {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 12, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part .blog_text {
    padding: 20px 0;
  }
}

/* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .single_blog_part .blog_text h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 25, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .single_blog_part .blog_text ul {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 991px) {
  /* line 25, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part .blog_text ul {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 25, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part .blog_text ul {
    margin-top: 20px;
  }
}

/* line 35, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .single_blog_part .blog_text ul li {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 35, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .single_blog_part .blog_text ul li {
    margin-right: 20px;
  }
}

/* line 42, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .single_blog_part .blog_text ul li i {
  margin-right: 10px;
}

/* line 50, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
.blog_part .blog_img {
  position: absolute;
  right: 0;
  top: 20%;
}

@media (max-width: 991px) {
  /* line 50, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .blog_img {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 50, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .blog_img {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  /* line 50, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_blog_part.scss */
  .blog_part .blog_img {
    display: none;
  }
}


/* ------------------------------------------------------------------------------------------------------------------ */







.cta_part {
  position: relative;
  background-image: url(../../assets/img/cta_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

@media (max-width: 991px) {
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part {
    height: auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part {
    height: auto;
  }
}

/* line 15, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .cta_text h5 {
  font-size: 20px;
  font-family: "Kaushan Script", cursive;
  color: #fff;
  margin-bottom: 35px;
}

/* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .cta_text h2 {
  font-size: 47px;
  color: #fff;
  margin-bottom: 65px;
  line-height: 60px;
}

@media (max-width: 991px) {
  /* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .cta_text h2 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 35px;
  }
}

@media (max-width: 576px) {
  /* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .cta_text h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 21, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .cta_text h2 {
    font-size: 35px;
    margin-bottom: 16px;
  }
}

/* line 41, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .cta_text p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  /* line 41, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .cta_text p {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  /* line 41, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .cta_text p {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 41, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .cta_text p {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  /* line 56, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .input-group {
    justify-content: center;
  }
}

/* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .input-group input {
  height: 60px;
  border: 0px solid transparent;
  border-radius: 0;
}

/* line 64, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .input-group input:hover, .cta_part .input-group input:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  /* line 60, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .input-group input {
    display: block;
    width: 100%;
  }
}

/* line 72, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .input-group .subs_btn {
  background-color: #ffcc00;
  padding: 19px 29px;
  text-transform: uppercase;
  color: #000;
  margin-left: 10px;
}

@media (max-width: 991px) {
  /* line 72, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
  .cta_part .input-group .subs_btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}

/* line 85, /Applications/MAMP/htdocs/palash/cl/july 2019/189 travel/189 travel html/sass/_cta_part.scss */
.cta_part .input-group .form-control {
  padding-left: 20px;
}