<section class="top-image">
    <div class="header">
        <h1>Couple vacation</h1>
    </div>
</section>

<section class="type-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 leaders">
                <h3>Couple trip leader</h3>
                <div class="image">
                    <a [routerLink] = "['/leaders', 'leadername']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>leader name</h4>
                    <p>leader address</p>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
                <div class="image">
                    <a [routerLink] = "['/leaders', 'leadername']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>leader name</h4>
                    <p>leader address</p>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
                <div class="image">
                    <a [routerLink] = "['/leaders', 'leadername']">
                        <img src="../../assets/city.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <h4>leader name</h4>
                    <p>leader address</p>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>

                <div class="other-leader">
                    <a href="">Other Leaders</a>
                </div>
            </div>
            <div class="col-lg-9 items">
                <div class="row tours">
                    <div class="col-lg-12">
                        <div class="header">
                            <h3>Best tours for couple trips</h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="image">
                            <a [routerLink] = "['/hotels', 'hotelname']">
                                <img src="../../assets/city.jpg" alt="">
                            </a>
                            <div class="price">
                                <a href="">$500</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>hotel name</h4>
                            <p>hotel address</p>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                            <span class="days">
                                <i class="far fa-clock"></i>
                                <a href="">5 Days</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="image">
                            <a [routerLink] = "['/hotels', 'hotelname']">
                                <img src="../../assets/city.jpg" alt="">
                            </a>
                            <div class="price">
                                <a href="">$500</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>hotel name</h4>
                            <p>hotel address</p>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                            <span class="days">
                                <i class="far fa-clock"></i>
                                <a href="">5 Days</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="image">
                            <a [routerLink] = "['/hotels', 'hotelname']">
                                <img src="../../assets/city.jpg" alt="">
                            </a>
                            <div class="price">
                                <a href="">$500</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>hotel name</h4>
                            <p>hotel address</p>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                            <span class="days">
                                <i class="far fa-clock"></i>
                                <a href="">5 Days</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row hotels">
                    <div class="col-lg-12">
                        <div class="header">
                            <h3>Best hotels for couple trips</h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="image">
                            <a [routerLink] = "['/hotels', 'hotelname']">
                                <img src="../../assets/city.jpg" alt="">
                            </a>
                            <div class="price">
                                <a href="">$500</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>hotel name</h4>
                            <p>hotel address</p>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                            <span class="days">
                                <i class="far fa-clock"></i>
                                <a href="">5 Days</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="image">
                            <a [routerLink] = "['/hotels', 'hotelname']">
                                <img src="../../assets/city.jpg" alt="">
                            </a>
                            <div class="price">
                                <a href="">$500</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>hotel name</h4>
                            <p>hotel address</p>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                            <span class="days">
                                <i class="far fa-clock"></i>
                                <a href="">5 Days</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="image">
                            <a [routerLink] = "['/hotels', 'hotelname']">
                                <img src="../../assets/city.jpg" alt="">
                            </a>
                            <div class="price">
                                <a href="">$500</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>hotel name</h4>
                            <p>hotel address</p>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                            <span class="days">
                                <i class="far fa-clock"></i>
                                <a href="">5 Days</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="other-trip-type">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h3>Other trip type you might like</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content">
                <div class="image">
                    <a>
                        <img src="../../assets/city.jpg" alt="">
                        <div class="name">
                            <h2>Trip type</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content">
                <div class="image">
                    <a>
                        <img src="../../assets/city.jpg" alt="">
                        <div class="name">
                            <h2>Trip type</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content">
                <div class="image">
                    <a>
                        <img src="../../assets/city.jpg" alt="">
                        <div class="name">
                            <h2>Trip type</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>