.top-image {
    position: relative;
    background-image: url(../../../assets/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.header h1 {
    color: white;
    text-align: center;
    padding-top: 10%;
    font-weight: 600;
    font-size: 50px;
}

@media screen and (max-width:700px) {
    .header h1 {
        padding-top: 20%;
    }
}

.type-box {
    margin-top: 7%;
}

.type-box .leaders .header h3 {
    font-weight: 600;
    padding-bottom: 5%;
}

@media screen and (max-width:700px) {
    .type-box .header h3 {
        text-align: center;
    }
}

.type-box .leaders .desc {
    background-color: white;
    margin-bottom: 5%;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
}

.type-box .leaders .other-leader {
    background-color: #0297c9;
    text-align: center;
    padding: 5%;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (max-width:700px) {
    .type-box .leaders .other-leader {
        padding: 2%;
        margin: 2% 0 2% 0;
        border-radius: 5px;
    }
}

.type-box .leaders .other-leader a {
    color: white;
    font-weight: 600;
}

.type-box .items .tours {
    margin-bottom: 25%;
}

@media screen and (max-width:700px) {
    .type-box .items .tours {
        margin-bottom: 0;
    }
}

.type-box .items .tours .header h3 {
    font-weight: 600;
    padding-bottom: 2%;
}

@media screen and (max-width:700px) {
    .type-box .items .tours .header h3 {
        text-align: center;
        padding: 5%;
    }
} 

.type-box .items .image img {
    position: relative;
}

.type-box .items .image .price {
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: rgb(253, 188, 8);
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
}

@media screen and (max-width:700px) {
    .type-box .items .image .price {
        padding: 5px 15px 5px 15px;
        left: 20px;
        top: 10px;
    }
}

@media screen and (max-width:400px) {
    .type-box .items .image .price {
        padding: 10px 30px 10px 30px;
        left: 30px;
        top: 20px;
    }
}

.type-box .items .image .price a {
    color : white;
    font-weight: 700;
    font-size: 15px;
}

.type-box .items .image:hover .price {
    background-color: #0297c9;
}

.type-box .items .desc {
    background-color: white;
    margin-bottom: 5%;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
}

.type-box .items .desc .days {
    float: right;
}

.type-box .items .desc .days a {
    color: black;
}

@media screen and (max-width:700px) {
    .type-box .items .hotels h3{
        text-align: center;
        padding: 10%;
    }
}

.other-trip-type {
    margin-top: 5%;
    margin-bottom: 5%;
}

.other-trip-type .head h3 {
    font-weight: 600;
    padding-bottom: 3%;
}

@media screen and (max-width:700px) {
    .other-trip-type .head h3 {
        text-align: center;
        padding: 5%;
    }
}

@media screen and (max-width:700px) {
    .other-trip-type .content {
        padding-bottom: 10%;
    }
}

.other-trip-type .image img {
    position: relative;
}

.other-trip-type .image .name {
    position: absolute;
    bottom: 10px;
    left: 30px;
}

@media screen and (max-width:700px) {
    .other-trip-type .image .name {
        bottom: 60px;
    }
}