.top-image {
    position: relative;
    background-image: url(../../../assets/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.header h1 {
    color: white;
    text-align: center;
    padding-top: 10%;
    font-weight: 600;
    font-size: 50px;
}

.type-box {
    margin-top: 7%;
}
