.top-image {
    position: relative;
    background-image: url(../../../assets/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.header h1 {
    color: white;
    text-align: center;
    padding-top: 10%;
    font-weight: 600;
    font-size: 50px;
}

.type-box {
    margin-top: 7%;
}

.type-box .leaders h3 {
    font-weight: 600;
    padding-bottom: 5%;
}

.type-box .leaders .desc {
    background-color: white;
    margin-bottom: 5%;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
}

.type-box .leaders .other-leader {
    background-color: #0297c9;
    text-align: center;
    padding: 5%;
}

.type-box .leaders .other-leader a {
    color: white;
    font-weight: 600;
}

.type-box .items .tours {
    margin-bottom: 25%;
}

.type-box .items .tours .header h3 {
    font-weight: 600;
    padding-bottom: 2%;
}
